Implementazione Node-Cloud/Node-RED/Node-RED backup.json
[{"id":"e7b4c277.1bf588","type":"tab","label":"HTTP End-Point Flow","disabled":false,"info":""},{"id":"4c0d108.8ea52f","type":"tab","label":"MQTT Flow","disabled":false,"info":""},{"id":"8c145a0f.cff42","type":"tab","label":"Web Socket Flow","disabled":false,"info":""},{"id":"96295b42.33553","type":"subflow","name":"Subflow 1","info":"","in":[{"x":60,"y":80,"wires":[{"id":"e877a01d.3a0ec8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"e877a01d.3a0ec8","port":0}]}]},{"id":"a77ea194.7b7fe","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"477ebbba.2647a4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-cloud","name":""},{"id":"59fb3568.616a7c","type":"websocket-listener","z":"","path":"ws/node-cloud","wholemsg":"false"},{"id":"9be9a115.7a4b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e877a01d.3a0ec8","type":"function","z":"96295b42.33553","name":"Split on ' t'","func":"var split = 't';\nvar list = [];\nvar str = \"\";\nfor(i = 0; i < msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split){\n        list.push(str);\n        str = \"\"\n    }\n}\nif(str.length > 0)\n    list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":210,"y":80,"wires":[[]]},{"id":"dbe40d82.9aecf","type":"mongodb in","z":"e7b4c277.1bf588","mongodb":"477ebbba.2647a4","name":"","collection":"nodes","operation":"find","x":560,"y":120,"wires":[["10b9f4ef.0d8003","ddfad1d5.ad9438"]]},{"id":"ddfad1d5.ad9438","type":"debug","z":"e7b4c277.1bf588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":80,"wires":[]},{"id":"88adbd08.c1e55","type":"http in","z":"e7b4c277.1bf588","name":"","url":"/node-cloud/nodes","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["dbe40d82.9aecf"]]},{"id":"10b9f4ef.0d8003","type":"http response","z":"e7b4c277.1bf588","name":"","statusCode":"","headers":{},"x":870,"y":160,"wires":[]},{"id":"d6b45d02.683f4","type":"mongodb in","z":"e7b4c277.1bf588","mongodb":"477ebbba.2647a4","name":"","collection":"samples","operation":"find","x":570,"y":480,"wires":[["d3412dd5.e67a1","a4c97f5b.f49538"]]},{"id":"4d0ff85e.f1f98","type":"http in","z":"e7b4c277.1bf588","name":"","url":"/node-cloud/samples","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["d6b45d02.683f4"]]},{"id":"d3412dd5.e67a1","type":"http response","z":"e7b4c277.1bf588","name":"","statusCode":"","headers":{},"x":870,"y":520,"wires":[]},{"id":"28351da0.0b99ea","type":"comment","z":"e7b4c277.1bf588","name":"HTTP End point - [GET] nodes","info":"","x":551,"y":60,"wires":[]},{"id":"15da051.cf728fb","type":"comment","z":"e7b4c277.1bf588","name":"HTTP End point - [GET] samples","info":"","x":550,"y":400,"wires":[]},{"id":"88484130.f41da8","type":"mqtt in","z":"4c0d108.8ea52f","name":"","topic":"nodes/sensors/samples","qos":"2","datatype":"json","broker":"a77ea194.7b7fe","x":180,"y":220,"wires":[["9f08a2b4.0e6ef","bf0cef56.86988","5efa44c4.d4d6cc"]]},{"id":"bf0cef56.86988","type":"debug","z":"4c0d108.8ea52f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":120,"wires":[]},{"id":"9f08a2b4.0e6ef","type":"mongodb out","z":"4c0d108.8ea52f","mongodb":"477ebbba.2647a4","name":"","collection":"samples","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":750,"y":220,"wires":[]},{"id":"89f8027a.092d58","type":"comment","z":"4c0d108.8ea52f","name":"MQTT Subscriber on samples topic","info":"","x":540,"y":60,"wires":[]},{"id":"a4c97f5b.f49538","type":"debug","z":"e7b4c277.1bf588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":440,"wires":[]},{"id":"f71ff669.9bd5a","type":"mongodb in","z":"e7b4c277.1bf588","mongodb":"477ebbba.2647a4","name":"","collection":"sensors","operation":"find","x":570,"y":300,"wires":[["b643c678.588458","e4853936.5f871"]]},{"id":"297ce3a.06fc11c","type":"http in","z":"e7b4c277.1bf588","name":"","url":"/node-cloud/sensors","method":"get","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["f71ff669.9bd5a"]]},{"id":"b643c678.588458","type":"http response","z":"e7b4c277.1bf588","name":"","statusCode":"","headers":{},"x":870,"y":340,"wires":[]},{"id":"d1d07d6b.367db","type":"comment","z":"e7b4c277.1bf588","name":"HTTP End point - [GET] sensors","info":"","x":550,"y":220,"wires":[]},{"id":"e4853936.5f871","type":"debug","z":"e7b4c277.1bf588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":260,"wires":[]},{"id":"c03b64cb.def678","type":"websocket in","z":"8c145a0f.cff42","name":"","server":"59fb3568.616a7c","client":"","x":134,"y":260,"wires":[["233067d9.1feef"]]},{"id":"76c263d9.844214","type":"debug","z":"8c145a0f.cff42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":320,"wires":[]},{"id":"233067d9.1feef","type":"json","z":"8c145a0f.cff42","name":"","property":"payload","action":"","pretty":false,"x":330,"y":260,"wires":[["1822c268.8c6f0e"]]},{"id":"1822c268.8c6f0e","type":"switch","z":"8c145a0f.cff42","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"nodes/update","vt":"str"},{"t":"eq","v":"nodes/sensors/availability","vt":"str"},{"t":"eq","v":"nodes/sensors/update","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":260,"wires":[["243f17f2.201fc","7b178e74.087558"],["911c647d.c9da6","243f17f2.201fc"],["911c647d.c9da6","243f17f2.201fc"]],"outputLabels":["nodes","activate/deactivate","sensors"]},{"id":"2e72ae9.4ad0752","type":"mongodb out","z":"8c145a0f.cff42","mongodb":"477ebbba.2647a4","name":"","collection":"sensors","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1270,"y":380,"wires":[]},{"id":"911c647d.c9da6","type":"function","z":"8c145a0f.cff42","name":"Prepare update sensor","func":"delete msg.payload.topic;\nmsg.query = {};\nmsg.query._id = msg.payload._id;\ndelete msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["76c263d9.844214","2e72ae9.4ad0752"]]},{"id":"23c8ae4.29b7052","type":"comment","z":"8c145a0f.cff42","name":"Web-socket comunication from Web Client","info":"","x":574,"y":108,"wires":[]},{"id":"5b603e5b.6f6d5","type":"mqtt out","z":"8c145a0f.cff42","name":"","topic":"","qos":"2","retain":"","broker":"a77ea194.7b7fe","x":1170,"y":260,"wires":[]},{"id":"243f17f2.201fc","type":"function","z":"8c145a0f.cff42","name":"Prepare publish","func":"msg.topic = msg.payload.topic;\ndelete msg.payload.topic;\ndelete msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":260,"wires":[["5b603e5b.6f6d5"]]},{"id":"38399cec.ecc80c","type":"debug","z":"8c145a0f.cff42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":140,"wires":[]},{"id":"35a19066.c8d948","type":"mongodb out","z":"8c145a0f.cff42","mongodb":"477ebbba.2647a4","name":"","collection":"nodes","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1260,"y":200,"wires":[]},{"id":"7b178e74.087558","type":"function","z":"8c145a0f.cff42","name":"Prepare update node","func":"delete msg.payload.topic;\nmsg.query = {};\nmsg.query._id = msg.payload._id;\ndelete msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":180,"wires":[["38399cec.ecc80c","35a19066.c8d948"]]},{"id":"5efa44c4.d4d6cc","type":"link out","z":"4c0d108.8ea52f","name":"To Web Socket Flow","links":["b39f3633.b57fe8"],"x":475,"y":280,"wires":[]},{"id":"ac3fe309.7b255","type":"websocket out","z":"8c145a0f.cff42","name":"","server":"59fb3568.616a7c","client":"","x":810,"y":460,"wires":[]},{"id":"e87b7de4.c1f518","type":"function","z":"8c145a0f.cff42","name":"Add topic to payload","func":"msg.payload.topic = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["ac3fe309.7b255"]]},{"id":"b39f3633.b57fe8","type":"link in","z":"8c145a0f.cff42","name":"","links":["5efa44c4.d4d6cc"],"x":295,"y":460,"wires":[["e87b7de4.c1f518"]]},{"id":"7ccd33a1.4b541c","type":"comment","z":"8c145a0f.cff42","name":"Web-socket comunication to Web Client","info":"","x":575,"y":392,"wires":[]}]